<div>
    <table align="center">
      <tbody>
        <tr align="center">
          <td style="padding:0px 5px">
            <a href="<%= config.social_links.twitter %>" alt="twitter" title="twitter"
              style="display:inline-block;background-color:#B4B5FF;padding:5px;height:26px;width:26px;border-radius:30px">
              <img alt="twitter" title="twitter" src="cid:covercomparedtwitter@cid" style="height:26px;width:26px"
                height="26" width="26">
            </a>
            <a href="<%= config.social_links.linkedin %>" alt="linkedin" title="linkedin"
              style="display:inline-block;background-color:#B4B5FF;padding:5px;height:26px;width:26px;border-radius:30px">
              <img alt="linkedin" title="linkedin" src="cid:covercomparedlinkedin@cid" style="height:26px;width:26px"
                height="26" width="26">
            </a>
            <a href="<%= config.social_links.telegram %>" alt="telegram" title="telegram"
              style="display:inline-block;background-color:#B4B5FF;padding:5px;height:26px;width:26px;border-radius:30px">
              <img alt="telegram" title="telegram" src="cid:covercomparedtelegram@cid" style="height:26px;width:26px"
                height="26" width="26">
            </a>
            <a href="<%= config.social_links.gitbook %>" alt="gitbook" title="gitbook"
              style="display:inline-block;background-color:#B4B5FF;padding:5px;height:26px;width:26px;border-radius:30px">
              <img alt="gitbook" title="gitbook" src="cid:covercomparedgitbook@cid" style="height:26px;width:26px"
                height="26" width="26">
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <div style="font-family:inherit;text-align:center;margin-top: 20px;">
      <a href="<%= config.web_url %>">
        <span style="color:#00b4e3">Visit us at </span><span style="color:#00b4e3"><u>covercompared.polkacover.com</u></span></a>
    </div>
  </div>